.location-info {
  width: 70%;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border: 2px solid #8eff8b;
  margin: 0 auto;

  margin-bottom: 2rem;
}

.location-info-title {
  font-size: 1rem;
}

.location-name {
  font-size: 0.7rem;
}

.wrapper-info-location {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.wrapper-info-location > li {
  font-size: 0.7rem;
  width: 33%;
}

@media (min-width: 600px) {
  .wrapper-info-location {
    flex-direction: row;
  }

  .location-name,
  .location-info-title,
  .wrapper-info-location > li {
    font-size: 1.3rem;
  }
}
