.wrapper-form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1024px;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.welcome-text {
  max-width: 500px;
  text-align: center;
  opacity: 0;
  position: relative;
  animation: textAppear 1s forwards ease-in-out;
  font-size: 0.8rem;
}

@keyframes textAppear {
  to {
    opacity: 1;
  }
}

.letter {
  color: #8eff8b;
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  animation: letterFall 1s forwards ease-in-out;
}

@keyframes letterFall {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  display: flex;
  border: 2px solid #8eff8b;
  height: 50px;
  width: 300px;
}

.form-input {
  width: 70%;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 0.5rem;
}

.form-button {
  display: flex;
  gap: 10px;
  background-color: rgba(142, 255, 139, 0.5);
  border: 2px solid #8eff8b;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.form-button p {
  font-size: 0.7rem;
}
.search-icon {
  width: 15px;
}

@media (min-width: 600px) {
  .welcome-text {
    padding: 1rem;
  }

  .form {
    width: 550px;
  }

  .form-input,
  .form-button p {
    font-size: 1rem;
  }

  .search-icon {
    width: 25px;
  }
}
