.residents-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);

  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100px;
  gap: 0.5rem;
}

.pagination-button {
  height: 30px;
  text-align: center;
  align-self: center;
  border: 2px solid #8eff8b;
  padding: 0.5rem;
  background-color: transparent;
}
.pagination-button:hover {
  transform: scale(1.09);
}

.activePage {
  border-radius: 90px;
  height: 40px;
  background-color: rgba(143, 255, 139, 0.202);
}
