@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.residents-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  max-width: 1024px;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1.3rem;
}

.resident-card {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 35%;
  animation-fill-mode: both;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid #8eff8b;
  background: rgba(0, 0, 0, 0.3);
}

.resident-card:hover {
  animation: zoomInOut 2s infinite alternate;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.wrapper-header {
  position: relative;
  border: 2px solid #8eff8b;
}

.resident-image {
  width: 100%;
}

.wrapper-status {
  font-size: 0.6rem;
  border: 2px solid #8eff8b;
  background: rgba(2, 10, 2, 0.8);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  position: absolute;
  top: 120px;
  right: 45px;
  margin: 0 auto;
  height: 20px;
}

.circle-status {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.alive-status {
  background-color: green;
}
.dead-status {
  background-color: red;
}
.unknown-status {
  background-color: gray;
}

.resident-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  padding: 0.8rem;
}
.resident-info-name {
  font-size: 1rem;
}

.main-info-card {
  display: flex;
  gap: 10px;
}

.resident-info-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.resident-list {
  display: flex;
  gap: 0.4rem;
}

.resident-info-p {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.resident-info-bold {
  color: #938686;
  width: 50%;
}

@media (min-width: 600px) {
  .residents-list {
    grid-template-columns: repeat(auto-fill, 200px);
  }

  .wrapper-status {
    top: 150px;
    right: 55px;
    font-size: 1rem;
    background: rgba(2, 10, 2, 0.8);
    height: 20px;
    padding: 1rem;
  }

  .resident-info-name {
    height: 50px;
    font-size: 1.3rem;
  }

  .resident-info-bold {
    font-size: 1rem;
  }

  .resident-info-p {
    font-size: 1rem;
  }
}
