body {
  background-color: black;
  background-image: url(/images/starts.png);
}

body {
  animation: animateStars 40s infinite;
}

@keyframes animateStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.vortice {
  margin: 0 auto;
  height: 180px;
  width: 300px;
  cursor: pointer;
}

.vortice-img {
  position: relative;
  width: 300px;
  height: 300px;
  top: -150px;

  margin: 0 auto;
  animation: rotateRight 6s infinite linear;
}

.vortice:hover {
  transform: scale(1.2);
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name-img {
  position: relative;
  width: 250px;
  top: -250px;
  margin: 0 auto;
  animation: zoomInOut 5s infinite alternate;
}

.ellipse-img {
  width: 500px;
  height: 400px;
  top: -500px;
  right: 80px;
  position: relative;
  margin: 0 auto;
  z-index: -9999;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.rick {
  position: relative;
  width: 250px;
  top: -250px;
  margin: 0 auto;
  z-index: -9999;
}

@media (min-width: 600px) {
  .name-img {
    width: 400px;
    top: -400px;
  }

  .vortice {
    width: 500px;
    height: 400px;
    top: -100px;
  }

  .vortice-img {
    width: 500px;
    height: 500px;
    top: -200px;
  }

  .ellipse-img {
    width: 600px;
    height: 600px;
    top: -650px;
    right: 50px;
  }

  .ellipse-img {
    width: 600px;
    height: 500px;
    top: -650px;
    right: 50px;
  }

  .rick {
    height: 800px;
    width: 600px;
    top: -400px;
  }
}
