body {
  background-color: black;
  padding: 1rem;
}

.vortice {
  margin: 0 auto;
  height: 200px;
}

.vortice-img {
  width: 300px;
  height: 300px;
  top: -150px;
  position: relative;
  margin: 0 auto;
}

.name-img {
  width: 250px;
  top: -250px;
  position: relative;
  margin: 0 auto;
}
