@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  transition: all 0.5s ease;
  font-family: "fira code", monospace;
  font-size: 1rem;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

input {
  outline: none;
  border: none;
}
